# VAERS Analysis and Clean Data Exploration

In [1]:
import pandas as pd

In [2]:
# Import the complete clean vaers data from 1990 to 2022
vaers_all = pd.read_csv('C:/Users/chris/Desktop/WozU_Data_Science/VAERS_CleanData/vaers_all.csv')

C:\Users\chris\AppData\Local\Temp\ipykernel_2236\2034063615.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  vaers_all = pd.read_csv('C:/Users/chris/Desktop/WozU_Data_Science/VAERS_CleanData/vaers_all.csv')

In [3]:
# Import the recorded number of Varicella Cases
varicella_cases = pd.read_csv('C:/Users/chris/Desktop/WozU_Data_Science/VAERS_CleanData/Chicken_Pox_Cases.csv')

In [4]:
# Prepare notebook to view data
pd.options.display.max_rows = None
pd.options.display.max_columns = None

# Explore data a merge the information for visualization. 

## * vaers_all

In [5]:
vaers_all.columns

Index(['Unnamed: 0', 'VAERS_ID', 'VAX_TYPE', 'VAX_MANU', 'VAX_LOT', 'VAX_NAME',
       'AGE_YRS', 'STATE', 'SYMPTOM_TEXT', 'DIED', 'ER_VISIT', 'Year'],
      dtype='object')

In [8]:
vaers_all.head()

,Unnamed: 0,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_NAME,AGE_YRS,STATE,SYMPTOM_TEXT,DIED,ER_VISIT,Year
0,0,25001,DTP,CONNAUGHT LABORATORIES,9Q01042,DTP (NO BRAND NAME),0.2,WI,Loud intense cry with screaming for 1 1/2 hrs....,NaN,NaN,1990
1,1,25003,DTP,LEDERLE LABORATORIES,259962,DTP (TRI-IMMUNOL),0.8,TX,"Hypotonic, Hyporesponsive episode, Infant died...",Y,NaN,1990
2,2,25003,OPV,PFIZER\WYETH,241950,"POLIO VIRUS, ORAL (ORIMUNE)",0.8,TX,"Hypotonic, Hyporesponsive episode, Infant died...",Y,NaN,1990
3,3,25004,OPV,PFIZER\WYETH,232961,"POLIO VIRUS, ORAL (ORIMUNE)",0.9,NY,"Pt developed chills for approx. 1 hr, felt ach...",NaN,NaN,1990
4,4,25005,TD,LEDERLE LABORATORIES,247955,TD ADSORBED (NO BRAND NAME),NaN,OK,7 patients within 2 weeks have reported joint ...,NaN,NaN,1990

In [16]:
vaers = vaers_all[['Year', 'VAX_NAME', 'VAERS_ID']]

In [24]:
grouped = vaers.groupby('Year').size()

In [20]:
grouped

Year
1990      2787
1991     34451
1992     18392
1993     17655
1994     18441
1996     17592
1997     17247
1998     15997
1999     20072
2000     23113
2001     25492
2002     26852
2003     31243
2004     28656
2005     28663
2006     31347
2007     48349
2008     51020
2009     50525
2010     49602
2011     41201
2012     41151
2013     43336
2014     47165
2015     57224
2016     60449
2017     52751
2018     62302
2019     61192
2020     59641
2021    561487
2022    276445
dtype: int64

## * varicella_cases

In [22]:
# Varicella_cases represents the number of actual Chicken Pox cases (Varicella) from 1993 to 2021

varicella_cases

    Year Number of Reported Cases
0   1993                  117,119
1   1994                  154,429
2   1995                  150,976
3   1996                  125,165
4   1997                  103,408
5   1998                   81,892
6   1999                   56,130
7   2000                   27,786
8   2001                    9,417
9   2002                    6,821
10  2003                    5,384
11  2004                    5,248
12  2005                    4,492
13  2006                    3,194
14  2007                    3,786
15  2008                    3,453
16  2009                    3,364
17  2010                    3,082
18  2011                    6,573
19  2012                   11,279
20  2013                    9,246
21  2014                    7,786
22  2015                    8,766
23  2016                    7,830
24  2017                    6,380
25  2018                    5,275
26  2019                    6,618
27  2020                    5,886
28  2021       2,571 (Jan - June)